$page-padding: 80px;
$gap-large: 64px;
$gap-medium: 32px;
$gap-small: 16px;
$gap-xsmall: 8px;

$page-font: var(--font-geist-sans);
$mono-font: var(--font-geist-mono);

$gray-rgb-light: 0, 0, 0;
$gray-rgb-dark: 255, 255, 255;
